<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">

    <title>Lista</title>    
 
    <style>
        table, th, td{
    
            border: 2px solid #000;
            border-collapse: collapse;
            
        }
    
    
    </style>

</head>
<body>
    <h1>Exercício 3 - Des. WEB II</h1>
    <table>
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>idade</th>
            <th>profissao</th>
            <th>e-mail</th>
            <tr>
            <td>João</td>
            <td>João</td>
            <td>João</td>
            <td>João</td>
            <td>João</td>
            </tr>
        </tr>
    </table>
    
</body>
</html>

